@import "__variables.scss";

body, html {
    min-height: 150vh;
    width: 100vw;

    font-family: 'Comfortaa', cursive;
    font-weight: bold;

    display: grid;
    grid-template: 1fr / 240px 100%;

    // 
}

.nav-bar {
    position: sticky;
    overflow: hidden;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: $gray;
}

.list {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;

    &-item {
        padding: 1vw 0 0 3rem;
        font-size: 1.35rem;
        color: #dcdcdc; // #FA626B red
        transition: all 0.4s 0s ease;

        &:hover {
            cursor: pointer;

            transform: translateX(-1.5rem);
            color: #FA626B;
        }
    }
}

.main-content {
    height: 100%;
    width: calc(99% - 240px);

    padding: .8rem;

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.grid-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    height: 30%;

    font-size: 2rem;
}

.pull-up1 {
    background: gray;
    width: 20%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    padding: 2rem 0 0 0;

    color: white;
}

.pull-up2 {
    background: gray;
    width: 20%;
    height: 100%;
}

.something {
    height: 100%;
    width: 55%;
    background: rgb(90, 88, 88);
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;

    font-size: 1.5rem;

    &-footer {
        color: white;
        height: 5vh;
        background: gray;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container1 {
    width: 100%;
    height: 100%;
    display: flex;
}

.container2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.fa-check {
    color: white;
    font-size: 6rem;
    padding: 0.7rem;
    margin: 1rem 0 0 1.5rem;
    border: 0.2rem solid white;
    border-radius: 50%;
    background: rgb(43, 167, 43);
}

.sub {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
    height: 50%;
    padding: 3rem 0 0 0;

    color: white;
    margin: 0 0 0 10rem;
}

.button {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 1.5rem;

    background: transparent;
    border: 2px solid white;

    color: white;
    padding: 0.5rem 1rem;
    margin: 0 0 0 .5rem;

    @include redbutton;
}

.url {
    color: white;
    letter-spacing: 2px;
    padding: 1rem 0 0 10rem;
}

.text {
    padding: 0.5rem 1rem;
    border: 2px solid white;

    @include redbutton;
}

.pull-up2 {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 1rem;
}

.text2 {
    font-size: 2.25rem;
    color: white;
    padding: 0 0 .5rem 0;
}

.fa-expeditedssl {
    margin: 2rem 0 0 0;
    font-size: 6rem;
    color: white;
}

.grid-container2 {
    margin: 2rem 0 0 1.5rem;

    display: flex;
    flex-direction: column;

    max-width: 93%;
    height: 200%;

    font-size: 1.75rem;
}

.rectangle {
    margin: 1rem 0 0 0;

    height: 10vh;
    width: 100%;
    background: rgb(88, 88, 88);

    display: grid;
    grid-template: 1fr / repeat(13, 1fr);
}

.day {
    background: rgb(255, 255, 255);
    margin: 0.35rem 1rem;
    border: 2px solid black;
}

#checked {
    background: rgb(0, 0, 0);
}

#chartdiv {
    @include w100h100;
}

#chartdiv1 {
    @include w100h100;
}
.grid-container3 {
    margin: 2rem 0 1rem 1.5rem;

    display: flex;
    flex-direction: column;

    max-width: 93%;
    height: 200%;

    font-size: 1.75rem;
}

.grid-container4 {
    margin: 2rem 0 0 1.5rem;

    display: flex;
    flex-direction: column;

    max-width: 93%;
    height: 50%;

    font-size: 1.75rem;
}

.notifications {
    @include w100h100;

    margin: 2rem 0 0 1.5rem;

    &-header {
        font-size: 1.75rem;
    }

    &-list {
        margin: 0.5rem 0 0 1.5rem;
        font-size: 1.3rem;
        font-family: Lato;
        font-weight: normal;
    }

    &-li {
        display: flex;
        align-items: center;

        margin: 0.8rem 0 0 0;
    }
}

.addbutton {
    position: fixed;
    z-index: 5;
    right: 3%;
    bottom: 3%;

    transition: filter 0.5s 0s ease;

    &:hover {
        filter: drop-shadow(4px 4px 6px black);
        cursor: pointer;
    }
}

.fa-plus {
    font-size: 5rem;
    padding: 1rem;
    background: rgb(26, 151, 26);
    color: white;
    border-radius: 50%;

}

.input {
    position: fixed;
    bottom: 12.5%;
    right: 3%;

    padding: 0.25rem 0.5rem;
}

// Toggle switch

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    margin: 0 0.5rem 0 0;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  // Toggle switch end